
 /* 
 
Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

*/

:root {
    font-size: 150%;
    border: 2px dashed blue;
}

@media (min-width: 768px) {
    :root {
        font-size: 120%;
        border: 3px solid hotpink;
    }
}

@media (min-width: 992px) {
    :root {
        font-size: 100%;
        border: 4px dotted orange;
    }
}

.x-small {
    font-size: 0.5rem;
}

.small {
    font-size: 1rem;
}

.large {
    font-size: 2rem;
}

.x-large {
    font-size: 2.5rem;
}
 
footer {
    font-size: 2rem;
}
.description {
    font-size: 1em;
}



